@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    font-family: "Poppins", sans-serif;
    cursor: default;
}

h1, h2, h3 {
    margin: 0;
}

h1{
    color: #463f3a;
    font-size: 42px;
}

h2 {
    font-weight: 600;
    font-size: 16px;
    margin-top: 5px;
    text-align: start;
}

h3{
    font-weight: 500;
    font-size: 16px;
}

h2, h3 {
    color: #8A817C;
}

h4 {
    color: #463f3a;
    font-weight: 450;
    margin-bottom: 5px;
}

body {
    background-color: #F4F3EE;
}

.quick-link{
    cursor: pointer;
}

.quick-link * {
    cursor: pointer;
}

.navbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.navbar-site{
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
    color: #8A817C;
}

.navbar-site > u {
    cursor: pointer;
}


.navbar-site > u:hover {
    color: #463f3a;
}

.panel-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.panel-row {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
}

.panel-row > * {
    margin-left: 10px;
    margin-right: 10px;
    width: 200px;
}

.text-with-img{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#based-and-work {
    margin-top: 15px;
}

.socials{
    display: flex;
    flex-direction: column;
    width: 40px;
    position: fixed;
    right: calc(50vw - 231px - 40px);
    height: 400px;
    top: calc(50% - 100px);
}

.socials > img{
    height: 40px;
    width: 40px;
    margin-top: 18px;
    transition: transform 300ms ease-in-out;
}

.socials > img:hover {
    transform: scale(1.55, 1.55);
}

.page-content {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
}


#based-and-work>*{
    height: 100%;
    width: 210px;
}

#based-in > * , #work > *{
    margin-left: 4px;
    margin-right: 4px;
}

#work:hover {
    text-decoration: underline;
}

#main-img-div > *{
    margin-left: 10px;
    margin-right: 10px;
}

#main-img-div > img{
    width: 60px;
    height: 60px;
    border-radius: 15px;
}

more-info > even-more {
    color: transparent;
    transition: color 400ms ease;
    transition: background-color 400ms ease;
    transform:ma;
    font-size: 12px;
    font-style: italic;
    text-align: center;
    display: flex;
    position: absolute;
    width: 200px;
    border-radius: 3px;
    padding: 5px;
}

more-info:hover > even-more {
    color: #F4F3EE;
    background-color: #8a817cbb;
    text-shadow:#463f3a 5px;
}

p{
    color: #8A817C;
    font-size: 14px;
    margin: 0;
}

.more-info{
    display: none;
}

.info-hovered{
    display: block;
}

more-info:hover {
    text-decoration: underline;
}

#more-info{
    color:#8A817C;
    text-decoration: underline;
    font-size: 10px;
    background-color: #f4f3eeb0;
    padding: 8px;
    border-radius: 10px;
    position: absolute;
}

.tech {
    margin-top: 12px;
}

.tech > img {
    width: 30px;
    height: 30px;
}

.projects, .education {
    width: 380px;
    align-items: start;
    margin-left: 10px;
}

.projects > div > div, .education > div > div {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: start;
}

.projects > div > div > img, .education > div > div > img {
    width: 24px;
}

.projects > div > div > p, .education > div > div > p {
    font-weight: 500;
}

.projects > div > p, .education > div > p {
    font-size: 12px;
}

.projects > div, .education > div {
    width: 100%;
    padding: 5px;
    border-radius: 4px;
    transition: background-color 300ms ease-in-out, transform 300ms ease-in-out;
}

.projects > div:hover {
    background-color: #8a817c2d;
    transform: scale(1.1, 1.1);
}

.projects > div > div > *, .education > div > div > * {
    margin-right: 10px;
}

.footer {
    background-color: #F4F3EE;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer > h2 {
    text-align: center;
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    color:#463f3a;
    
}

@media only screen and (max-width: 500px){
    .panel-row {
        flex-direction: column;
    }

    #main-img-div{
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }

    .tech {
        flex-direction: row;
    }

    .projects, .education {
        width: 200px;
    }

    .panel-row > * {
        width: 200px;
    }

    .page-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .socials {
        position: relative;
        flex-direction: row;
        height: auto;
        width: auto;
        justify-content: center;
        margin-bottom: 20px;
        right: inherit;
    }

    .socials > img {
        margin-right: 5px;
        margin-left: 5px;
    }
}