@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    font-family: "Poppins", sans-serif;
    cursor: default;
}

h1{
    color: #463f3a;
}

body {
    background-color: #F4F3EE;
}

.navbar-resume{
    color: #8A817C;
    text-align: center;
    font-size: 40px;
    font-weight: 300;
}

.navbar-resume > * {
    transition: font-size 300ms ease-in-out;
}

.navbar-resume > *:hover {
    font-size: 80px;
}

.nav-resume-pressed{
    cursor: pointer;
    text-decoration: underline;
    color: #463f3a;
}

.nav-resume-inter{
    color: #8A817C;
    cursor: pointer;
}

.nav-resume-inter:hover{
    text-decoration: underline;
}

.pdf-false{
    display: none;
}

.pdf-true{
    display: flex;
    justify-content: center;
}

.interactive-false{
    display: none;
}

.interactive-true{
    display: block;
}

.navbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.navbar-site{
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
    color: #8A817C;
}


.navbar-site > u {
    cursor: pointer;
}


.navbar-site > u:hover {
    color: #463f3a;
}