@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: #F4F3EE;
}

.navbar > h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
    color: #8A817C;
    text-decoration: underline;
    cursor: pointer;
}

.main{
    display: flex;
    flex-direction: column;
    width: 70%;
    max-width: 700px;
    margin: auto;
}

.main > .section-cover {
    height: 110px;
}

.main > .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main > .header > h1 {
    font-size: 40px;
    align-self:flex-end;
}

h1 {
    color: #463f3a;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.main > .header > img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.main > .cross-section {
    margin-top: 10px;
    height: 2px;
    width: 100%;
    border-radius: 40px;
    background-color: #463f3a;
}

@media only screen and (min-width: 700px){
    .main > .content > .row-section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

.main > .content > .about-me > h2 {
    color: #463f3a;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
}

.quick-link {
    color: #8A817C;
    cursor: pointer;
    text-decoration: underline;
}

.quick-link:hover {
    color: #463f3a;
}


.main > .content > .row-section > .links > h1 {
    margin-bottom: 2px;
}

.main > .content > .row-section > .links > h2 {
    margin-top: 2px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
}

.main > .content > .row-section > .posts {
    width: 280px;
}

.main > .content > .row-section > .posts > h1 {
    margin-bottom: 2px;
}

.post {
    display: flex;
    justify-content: row;
    margin-bottom: 10px;
}

.post > img {
    width: 30px;
    height: 30px;
}

.post > h2 {
    padding: 0;
    margin: 0;
    margin-left: 10px;
    margin-top: 2px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    cursor: pointer;
    align-self: center;
}

.post-title {
    color:#8A817C;
    text-decoration: underline;
}

.post-title:hover{
    color: #463f3a;
}

.footer {
    background-color: #F4F3EE;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer > h2 {
    text-align: center;
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    color:#463f3a;
}


@media only screen and (max-width: 700px){
    .main > .content > .row-section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .main > .header > h1 {
        font-size: 25px;
    }
    h1 {
        font-size: 20px;
    }

    .main > .content > .about-me > h2,
    .main > .content > .row-section > h2,
    .post > h2 {
        font-size: 12px;
    }
    
    .post > img {
        width: 20px;
        height: 20px;
    }
}