[submodule "Projects/JS-Neural-Network"]
	path = Projects/JS-Neural-Network
	url = https://github.com/mmarusiak/JS-Neural-Network.git
[submodule "Projects/Doppler-effect"]
	path = Projects/Doppler-effect
	url = https://github.com/mmarusiak/Doppler-effect-demo.git
[submodule "Projects/sandbox-3d"]
	path = Projects/sandbox-3d
	url = https://github.com/mmarusiak/sandbox-3d.git
