* {
    font-family: 'REM', sans-serif;
    cursor: default;
}

body {
    background-color: #31393C;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.main-section {
    width: 100vw;
    height: 100%;
}


/* main section with all divs centering etc.*/

@media (min-width: 1700px) {
    .main-section>div {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        align-items: center;
        width: clamp (900px, 80vw, 2000px);
        margin-left: 220px;
        margin-right: auto;
    }

    .posts {
        margin-left: 60px;
    }

    .main-section>div>.scroll-down {
        display: none;
    }
}

@media (max-width: 1700px) {
    .main-section>div {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .posts {
        margin-top: 60px;
    }

    .scroll-down {
        color: #F0F7EE;
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        margin-top: 3px;
    }
}



@media (min-width: 1200px) {
    .main-section {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .main-section>div>div.none {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row-reverse;
        align-items: center;
        width: clamp (900px, 80vw, 2000px);
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 1200px) {
    .main-section {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .right-side-panel {
        margin-bottom: 120px;
    }
}

@media (min-width: 900px) {
    .right-side-panel {
        margin-left: 50px;
    }

    /*@media (max-width: 1400px) {
        .right-side-panel {
            margin-left: 10vw;
        }
    }

    @media (min-width: 1400px) {
        .right-side-panel {
            margin-left: 20vw;
        }
    }*/
}

.right-side-panel {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    height: 90vh;
}

.roadmap {
    margin: 20px 40px;
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
}


/* boxes styling */

.about-me,
.contact-content,
.skills-content,
.post,
.post-heading {
    border-width: 4px;
    box-shadow: #F79824 -10px 10px;
    border-style: solid;
    border-color: #F79824;
    border-radius: 20px;
    background-color: #F0F7EE;
}

.about-me {
    height: 300px;
}

.skills-content,
.contact-content {
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: start;
    align-items: start;
}

.post {
    height: 200px;
}

.post-heading {
    height: 100px;
}


/* about me section */

.profile-picture {
    vertical-align: middle;
    height: 125px;
    width: 125px;
    border-radius: 40%;
    margin-right: 25px;
    margin-left: 25px;
}

.about-me {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-me>div {
    width: 90%;
    height: 100%;
}

.about-me-content {
    display: flex;
    justify-content: right;
}

.header {
    color: #F0F7EE;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.about-me-title {
    font-size: 35px;
    color: #31393C;
    font-weight: 1000;
    text-decoration: underline;
}

.emote {
    text-decoration: none;
}

.about-me-text {
    inline-size: 190px;
    margin-right: 15px;
    margin-top: 0;
}

.about-me-text>span {
    font-weight: 400;
}

.about-me-text>span {
    margin: 0;
}


/* text styling */

h1>span {
    font-size: 50px;
}

span.bold {
    font-weight: 800;
}


h2 {
    color: #FDCA40;
}


/* roadap section */

.ab-stick {
    background-color: #F79824;
    width: 15px;
    height: 100%;
    border-radius: 20px/10px;
}

.roadmap-signs {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    height: 100%;
}

.roadmap-stick {
    height: 100%;
    width: 16px;
    background-color: #F79824;
    border-radius: 20px/10px;
    margin-right: 25px;
}

.roadmap-sign {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 10px;
}

.roadmap-img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

.roadmap-p {
    color: #F0F7EE;
    inline-size: 300px;
}


/* skills and contact section */

.skills-content>div {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
}

.skills-content>div>div {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 5px;
    display: flex;
    justify-content: center;
}

.skills-content>div>div>h2 {
    color: #31393C;
    font-size: 16px;
    font-weight: 300;
    margin-left: 20px;
    inline-size: 280px;
    margin-top: auto;
    margin-bottom: auto;
}

.skills-img {
    height: 40px;
    width: 40px;
}

.contact-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-content>div {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.contact-content>div>button {
    background-size: cover;
    width: 90px;
    height: 90px;
    border-width: 0;
    background-color: transparent;
    display: flex;
    cursor: pointer;
}

/* contact buttons */

#projects-heading {
    color: #31393C;
    font-weight: 500;
    cursor: pointer;
}


.github {
    background-image: url('./images/github-mark.png');
}

.linkedin {
    background-image: url('./images/LI-In-Bug.png');
}

.twitter {
    background-image: url('./images/twitter.webp');
}


/* posts */

.posts {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 90vh;
}

.post-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.post-heading>.post-content {
    justify-content: center;
    align-items: center;
}

.post-heading>.post-content>h1 {
    text-align: center;
}

.post>.post-content {
    justify-content: space-between;
    align-items: center;
}

.post-content>.upper-post {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 96%;
    margin-left: 0;
}


.post-content>.upper-post>.post-title {
    width: 100%;
}

.right-side-post {
    width: 100%;
}

.post-info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.post-link {
    cursor: pointer;
}

.post-date {
    color: #31393C;
}

.post-date, .post-link {
    font-size: 16px;
}

.post-heading>.post-content>h1,
.post-content>.upper-post>h1 {
    font-size: 25px;
    inline-size: 40vw;
}

.post-content>.upper-post>div>h2, 
.post-content>.upper-post>div>div>p  {
    font-size: 15px;
}

.post-summary {
    font-size: 15px;
    inline-size: 90%;
}

.post {
    height: 200px
}

@media (max-height: 900px){
    .about-me-title,
    .emote {
        font-size: 30px;
    }

    .about-me-text {
        font-size: 1.6vh;
    }

    .right-side-panel {
        align-items: center;
    }

    .about-me {
        height: 240px;
    }

    .about-me,
    .contact-content,
    .skills-content {
        width: 70vw;
    }

    .post {
        width: 80vw;
    }

    .post-heading {
        width: 80vw;
    }

    .skills-content>div>div>h2 {
        inline-size: 50vw;
    }

    .contact-content>div>button {
        width: 8vh;
        height: 8vh;
    }

    #projects-heading {
        font-size: 3vh;
    }

    .contact-content>div {
        margin-bottom: 0;
        margin-top: 20px;
    }

    .about-me-content {
        justify-content: left;
    }

    .roadmap-sign>div>h2 {
        font-size: 15px;
    }

    .roadmap-sign>div>p {
        font-size: 10px;
    }

    .roadmap-img {
        width: 8vh;
        height: 8vh;
    }
}

@media (min-width: 600px) {

    .about-me,
    .contact-content,
    .skills-content {
        width: 400px;
    }

    .post {
        width: 500px;
    }

    .post-heading {
        width: 500px;
    }

}

@media (max-height: 840px) {
    .contact-content {
        height: 130px;
    }

    .contact-content {
        justify-content: center;
    }
}

@media (max-height: 810px) {

    .post-heading>.post-content>h1,
    .post-content>.upper-post>h1 {
        font-size: 22px;
        inline-size: 40vw;
    }
    
    .post-content>.upper-post>div>h2, 
    .post-content>.upper-post>div>div>p  {
        font-size: 12px;
    }

    .post-summary {
        font-size: 12px;
    }

    .post {
        height: 19vh;
    }
}

/* for phones */
@media (max-width: 600px){

    .about-me-title,
    .emote {
        font-size: 30px;
    }

    .about-me-text {
        font-size: 10px;
    }

    .right-side-panel {
        align-items: center;
    }

    .about-me {
        height: 240px;
    }

    .about-me,
    .contact-content,
    .skills-content {
        width: 70vw;
    }

    .post {
        width: 80vw;
    }

    .post-heading {
        width: 80vw;
    }

    .skills-content>div>div>h2 {
        inline-size: 50vw;
    }

    .contact-content>div>button {
        width: 15vw;
        height: 15vw;
    }

    .roadmap-sign>div>h2 {
        font-size: 15px;
    }

    .roadmap-sign>div>p {
        font-size: 10px;
    }

    .roadmap-img {
        width: 8vh;
        height: 8vh;
    }

    .post-heading>.post-content>h1,
    .post-content>.upper-post>h1 {
        font-size: 25px;
        inline-size: 40vw;
    }

    .post-content>.upper-post>div>h2, 
    .post-content>.upper-post>div>div>p  {
        font-size: 15px;
    }

    .post-summary {
        font-size: 15px;
        inline-size: 70vw;
    }

    .post {
        height: 19vh;
    }
}

@media (max-width: 460px) {

    .about-me-title,
    .emote {
        font-size: 25px;
    }

    .profile-picture {
        height: 90px;
        width: 90px;
    }

    .skills-content>div>div>h2 {
        font-size: 12px;
        inline-size: 45vw;
    }

    .roadmap {
        margin: auto;
        margin-top: 100px;
    }

    .post-heading>.post-content>h1,
    .post-content>.upper-post>h1 {
        font-size: 20px;
        inline-size: 40vw;
    }

    .post-content>.upper-post>div>h2, 
    .post-content>.upper-post>div>div>p  {
        font-size: 12px;
    }

    .post-summary {
        font-size: 12px;
        inline-size: 70vw;
    }

    .post {
        height: 19vh;
    }
}

@media (max-width: 400px) {
    @media (max-height: 800px) {
        .about-me-title {
            font-size: 20px;
        }

        .profile-picture {
            width: 75px;
            height: 75px;
        }

        .post-heading>.post-content>h1,
        .post-content>.upper-post>h1 {
            font-size: 18px;
            inline-size: 40vw;
        }

        .post-content>.upper-post>div>h2, 
        .post-content>.upper-post>div>div>p  {
            font-size: 10px;
        }

        .post-summary {
            font-size: 10px;
            inline-size: 70vw;
        }

        .post {
            height: 19vh;
        }

        .skills-content>div>div>h2{
            font-size: 10px;
        }
        
        .contact-content>h2{
            font-size: 18px;
        }

        .roadmap-stick{
            margin-right: auto;
        }
    }
}

.hashtags {
    margin-top: 10px;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 8px;
}

.hashtags > p{
    cursor: pointer;
    margin: 0;
    border-radius: 5px;
    border-color: #31393C;
    color: #F0F7EE;
    background-color: #31393C;
    padding: 5px;
    text-align: center;
}