.background {
    background-color: #FAF3DD;
}

.main-text {
    color: #4A7C59;
    font-family: 'Mukta', sans-serif;
}

#centered-item {
  margin: auto;
  width: 50%;
  padding: 1vh;
}

#centered-text {
    text-align: center;
}